@font-face {
  font-family: norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-left {
  position: relative;
  width: 35%;
  height: 100vh;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.container-left > img {
  width: 100%;
  height: 100%;
}

.container-left > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12%;
}

.logo {
  text-align: center;
  font-family: 'norse-bold';
  font-size: 6rem;
  font-weight: lighter;
  color: white;
}

.container-left > div > img {
  width: 17%;
}

.source {
  position: absolute;
  bottom: 1%;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.source > p > a {
  color: white;
}